<form class="center-content" [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <div class="sing-up-style">
    <h1>Login</h1>
    <br />
    <div class="group">
      <input
        type="text"
        placeholder="Email"
        name="email"
        formControlName="email"
      />
    </div>
    <br /><br />
    <div class="group">
      <input
        type="password"
        placeholder="Password"
        name="password"
        formControlName="password"
      />
    </div>
    <p>
      Don't have an account?
      <a [routerLink]="['/registration']" class="log-in-class">Register</a>
    </p>
    <br />

    <button
      type="submit
    "
    >
      LOGIN
    </button>
  </div>
</form>
